<div class="content">
  <h1 class="title">About</h1>
  <div class="content-box">
    <div class="logo clearfix">
      <div class="logo-img">
        <img src="assets/logo4.png" alt="sidebar-logo">
      </div>
      <div class="logo-text">Mean<strong>Stacks</strong></div>
    </div>
    <p>
      Making work simpler, more pleasant, and more productive
    </p>

    <p>
      At the Frontend traineeschip we have learned the basics of different meanstacks used in de frontend world. 
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages..
    </p>
  </div>
  <br/>
  <br/>
  <div class="content-box">
    <h2 class="title">The creators</h2>
    <p>
        L Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
    </p>

    <div class="creators">
      <div class="creator">
        <figure >
            <img class="creatorsImg" src="assets/luisa.jpg" alt="Luisa Braga">
            <figcaption>Luisa Braga</figcaption>
        </figure>
        <p class="imgText">
          Luisa is a 23 years old girl with Brazilians roots that lives in Holland. She graduated from the studie "Communication and Multimedia Design" in 2018 and she is ready to start hger carrier as a Frontend Developer. 

        </p>
      </div>
      <div class="creator">
        <figure>
            <img class="creatorsImg" src="assets/rick.jpg" alt="Rick Tijink">
            <figcaption>Rick Tijink</figcaption>
          </figure>
        <p class="imgText">About: Wie ben je, hoe oud ben je, waar kom je vandaan, wat is je achterground(frontend) en ambitie binnen vakgebied. 
        </p>
      </div>
    </div>
  </div>  
</div>