<div class="memocard-list" [@listStagger]="articlesDT">
    <div *ngFor="let articles of articlesDT" class="card">
        <div class="cardclick" (click)="details(articles.id)">
            <div class="card-header">
                <div>
                    <h5 class="card-title"><i class="far fa-sticky-note {{articles.subject}}"></i>{{articles.id}}. {{articles.title}}</h5>
                    <h6 class="card-subtitle mb-2">{{articles.published | date:'dd-MMM-yy (EEE)'}}</h6>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{articles.description}}</p>
            </div>
        </div>
        <button class="btn delete" (click)="delete(articles.id)"><i class="far fa-trash-alt fa-lg"></i></button>
        <button class="btn revise" (click)="editMemo(articles.id)"><i class="far fa-edit fa-lg"></i></button>
    </div>
</div>

<!-- Show memo details on click -->
<section class="memo">
    <div *ngIf="showDetails">
        <div class="memocard-details">
            <button class="closeDetails" (click)="closeDetails()"><i class="fas fa-times"></i></button>
            <h1>{{articleDetails?.title}}</h1>
            <h4><span class="{{articleDetails?.subject}}">{{articleDetails?.subject}}</span></h4>
            <br><br>
            <em><strong>{{articleDetails?.description}}</strong></em>
            <br><br>
            <p>{{articleDetails?.text}}</p>
             <!-- Memo Detail buttons -->
             <div class="memoDetailButtons-right clearfix">
                <button class="memoButton deleteMemo" (click)="delete(articleDetails.id)">
                    <i class="far fa-trash-alt"></i> Delete
                </button>
                <button class="memoButton reviseMemo" (click)="editMemo(articleDetails.id)">
                    <i class="far fa-edit fa-lg"></i> Edit
                </button>
            </div>
        </div>
    </div>
    
    <!-- Show memo details with update functionality on click -->
    <div class="editMemo" *ngIf="memoEdit">
        <div class="memocard-details" >
            <button class="closeDetails" (click)="closeDetails()"><i class="fas fa-times"></i></button>
            <h4>Memo ID:</h4>
            {{articleDetails?.id}}
            <br><br>
            <h4>Edit title:</h4>
            <input *ngIf="articleDetails?.title" [(ngModel)]="articleDetails.title" placeholder="Enter title">
            <br><br>
            <h4>Edit subject:</h4>
            <select *ngIf="articleDetails?.subject"  [(ngModel)]="articleDetails.subject" required [(ngModel)]="articleDetails.subject">
                <option value="" disabled selected>Select a subject</option>
                <option value="mysql">MySQL</option>
                <option value="expressjs">ExpressJS</option>
                <option value="angular">Angular</option>
                <option value="nodejs">NodeJS</option>
            </select>
            <br><br>
            <h4>Edit description:</h4>
            <input *ngIf="articleDetails?.description" [(ngModel)]="articleDetails.description" placeholder="Enter description"/>
            <br><br>
            <h4>Edit text:</h4>
            <textarea *ngIf="articleDetails?.text" [(ngModel)]="articleDetails.text" rows="7" placeholder="Enter text"></textarea>
            <div class="memoDetailButtons-left">
                <!-- Back button -->
                <button class="memoButton backMemo" (click)="details(articleDetails.id)">
                        <i class="fas fa-arrow-left"></i> Back
                </button>
            </div>
            <!-- Memo Detail buttons -->
            <div class="memoDetailButtons-right">
                <!-- Delete button -->
                <button class="memoButton deleteMemo" (click)="delete(articleDetails.id)">
                    <i class="far fa-trash-alt"></i> Delete
                </button>
                <!-- Update button -->
                <button class="memoButton updateMemo" (click)="updateMemo(articleDetails)">
                    <i class="far fa-edit"></i> Update
                </button>
            </div>
        </div>
    </div>
  

</section>



