<div *ngFor="let articles of articlesDT" class="card">
  <div class="card-header">
      <div>
          <h5 class="card-title">{{articles.title}}</h5>
          <h6 class="card-subtitle mb-2">{{articles.published | date:'dd-MMM-yy (EEE)'}}</h6>
      </div>
      <button class="btn" (click)="delete(articles.id)"><i class="far fa-trash-alt"></i></button>
  </div>
  <div class="card-body">

      <p class="card-text">{{articles.description}}</p>
      <button  type="submit" (click)="details(articles.id)">Details</button>
  </div>
  <div [hidden]="!showDetails">
    <p>
        {{articles.text}}
    </p>
  </div>
</div>
