/* Memocard styling */

.clearfix{
    clear: both;
}

.card 
{
    width: 100%;
    border: none;
    border-radius: 0px;
    transition: border-left 0.2s linear;
}

.card-header {
    border-bottom: none;
    display: flex;
    color: #FFFFFF;
    padding: 20px 0px 0px 30px;
    border-radius: 0px;
}

    .card-subtitle{
        font-size: 10px;
        color: #a2acb5;
        border-radius: 0px;
    }

.card-body {
    color: #bfbfbf;
    font-size: 14px;
    padding: 0px 0px 20px 30px;
    border-radius: 0px;
}

.card:nth-child(odd)>div {
    background-color: #384263;
}

.card:nth-child(even)>div {
    background-color: #2b3554;
}

.card:hover {
    border-left: 40px solid #fa3737;
    cursor: pointer;
}

.card:hover .delete, .card:hover .revise{
    display: block;
}

p.card-text {
    max-width: 270px;
}

.card-title{
    max-width: 300px;
}

/* Memo */
.memo {
    height: 100vh;
    overflow-y: scroll;
}


/* Smaal Memocard buttons */

.btn-link {
    margin-top: -30px;
}

.btn{
    width: 40px;
    height: 50%;
    font-size: 12px;
    position: absolute;
    color: #FFFFFF;
    padding: 4px;
    left: -40px;
    border-radius: 0;
}

.btn:focus {
    outline:0;
}

button:focus {
    outline:0;
}

.delete{
    background-color: #fa3737;
    display: none;
    top:0;
}

.delete:hover{
    background-color: #ce2525;
}

.revise{
    background-color: #4c56af;
    display: none;
    top:50%;
}

.revise:hover{
    background-color: #6770c4;
}

.details{
    background-color: #ff7e33;
    top: 50px;

}

.details:hover{
    background-color: #eb691e;
}

.card-title > i {
    margin-right: 10px;
}

span {
    text-transform: capitalize;
}

.mysql {
    color:#e6ae00;
}

.angular{
    color:#FA3758;
}

.expressjs{
    color: #FA6B41;
}

.nodejs{
    color: #535FFC;
}

.memocard-details p {
    line-height: 1.7;
}

/* Memo Detail buttons */

.memoButton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    width: 140px;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s linear;
    text-decoration: none;
    color: #FFFFFF;
    float: left;
    margin-bottom: 10px;
}

.memoButton i{
    margin-right: 4px;
}

.memoButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.reviseMemo{
    background-color: #4c56af;

}

.reviseMemo:hover{
    background-color: #6770c4;
}

.deleteMemo{
    background-color: #fa3737;
    margin-right: 10px;
}

.deleteMemo:hover{
    background-color: #ce2525;
}

.updateMemo{
    background-color: #ee7936;
}

.updateMemo:hover{
    background-color: #c95c1d;
}

/* Input fields */

input, select, textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}