/* Memocard styling */

.card 
{
    width: 100%;
    border: none;
    border-radius: 0px;
    transition: border-left 0.2s linear;
}

.card-header {
    border-bottom: none;
    display: flex;
    color: #FFFFFF;
    padding: 20px 0px 0px 40px;
    border-radius: 0px;
}

    .card-subtitle{
        font-size: 10px;
        color: #a2acb5;
        border-radius: 0px;
    }

.card-body {
    color: #FFFFFF;
    font-size: 14px;
    padding: 0px 0px 20px 40px;
    border-radius: 0px;
}

.card:nth-child(odd)>div {
    background-color: #384263;
}

.card:nth-child(even)>div {
    background-color: #2b3554;
}

.card:hover {
    border-left: 6px solid #7f8390;
    cursor: pointer;
}
p.card-text {
    max-width: 290px;
}

/* Memocard button styling */

.btn-link {
    margin-top: -30px;
}

.btn{
    width: 26px;
    height: 26px;
    font-size: 12px;
    position: absolute;
    color: #FFFFFF;
    padding: 4px;
    right: 16px;
    border-radius: 4px;
}

.btn:focus {
    outline:0;
}

button:focus {
    outline:0;
}

.delete{
    background-color: #fa3737;
}

.delete:hover{
    background-color: #ce2525;
}

.details{
    background-color: #ff7e33;
    top: 50px;

}

.details:hover{
    background-color: #eb691e;
}