/* Memocard styling */

.card 
{
    width: 100%;
    border: none;
    border-radius: 0px;
    transition: border-left 0.2s linear;
}

.card-header {
    border-bottom: none;
    display: flex;
    color: #FFFFFF;
    padding: 20px 0px 0px 30px;
    border-radius: 0px;
}

    .card-subtitle{
        font-size: 10px;
        color: #a2acb5;
        border-radius: 0px;
    }

.card-body {
    color: #bfbfbf;
    font-size: 14px;
    padding: 0px 0px 20px 30px;
    border-radius: 0px;
}

.card:nth-child(odd)>div {
    background-color: #384263;
}

.card:nth-child(even)>div {
    background-color: #2b3554;
}

.card:hover {
    border-left: 40px solid #fa3737;
    cursor: pointer;
}

.card:hover .delete{
    display: block;
}

p.card-text {
    max-width: 270px;
}

.card-title{
    max-width: 300px;
}



/* Memocard button styling */

.btn-link {
    margin-top: -30px;
}

.btn{
    width: 26px;
    height: 26px;
    font-size: 12px;
    position: absolute;
    color: #FFFFFF;
    padding: 4px;
    right: 16px;
    border-radius: 4px;
}

.btn:focus {
    outline:0;
}

button:focus {
    outline:0;
}

.delete{
    background-color: #fa3737;
    display: none;
    left: -32px;
}

.delete:hover{
    background-color: #ce2525;
}

.details{
    background-color: #ff7e33;
    top: 50px;

}

.details:hover{
    background-color: #eb691e;
}

.card-title > i {
    margin-right: 10px;
}

span {
    text-transform: capitalize;
}

.mysql {
    color:#e6ae00;
}

.angular{
    color:#FA3758;
}

.expressjs{
    color: #FA6B41;
}

.nodejs{
    color: #535FFC;
}

.memocard-details p {
    line-height: 1.7;
}

/* Revise button */

.createButton {
    background-color: #4c56af;
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    width: 178px;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s linear;
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    right: 88px;
    bottom: 60px;
}

.createButton:hover{
    background-color: #6770c4;
}
.createButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.createButton i{
    margin-right: 4px;
}