/* Memocard styling */

.clearfix{
    clear: both;
}

.card 
{
    width: 100%;
    border: none;
    border-radius: 0px;
    transition: border-left 0.2s linear;
}

.card-header {
    border-bottom: none;
    display: flex;
    color: #FFFFFF;
    padding: 20px 0px 0px 30px;
    border-radius: 0px;
}

    .card-subtitle{
        font-size: 10px;
        color: #a2acb5;
        border-radius: 0px;
    }

.card-body {
    color: #bfbfbf;
    font-size: 14px;
    padding: 0px 0px 20px 30px;
    border-radius: 0px;
}

.card:nth-child(odd)>div {
    background-color: #384263;
}

.card:nth-child(even)>div {
    background-color: #2b3554;
}

.card:hover {
    border-left: 40px solid #fa3737;
    cursor: pointer;
}

.card:hover .delete, .card:hover .revise{
    display: block;
}

p.card-text {
    max-width: 270px;
}

.card-title{
    max-width: 300px;
}

/* Memo */
.memo {
    height: 100vh;
    overflow-y: scroll;
}


/* Memocard List: Small card buttons */

.btn-link {
    margin-top: -30px;
}

.btn{
    width: 40px;
    height: 50%;
    font-size: 12px;
    position: absolute;
    color: #FFFFFF;
    padding: 4px;
    left: -40px;
    border-radius: 0;
}

.btn:focus {
    outline:0;
}

button:focus {
    outline:0;
}

/* Memocard List: Small delete button */

.delete{
    background-color: #fa3737;
    display: none;
    top:0;
}

.delete:hover{
    background-color: #ce2525;
}

/* Memocard List: Small revise button */

.revise{
    background-color: #4c56af;
    display: none;
    top:50%;
}

.revise:hover{
    background-color: #2d3899;
}

.card-title > i {
    margin-right: 10px;
}

span {
    text-transform: capitalize;
}

.memocard-details p {
    line-height: 1.7;
}

/* Subject colors */

.mysql {
    color:#e6ae00;
}

.angular{
    color:#FA3758;
}

.expressjs{
    color: #FA6B41;
}

.nodejs{
    color: #535FFC;
}

/* Memo Detail buttons */

.memoButton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s linear;
    text-decoration: none;
    color: #FFFFFF;
    float: left;
    margin-bottom: 10px;
}

.memoButton i{
    margin-right: 4px;
}

.memoButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* MemoDetailButtons container */

.memoDetailButtons-left{
    float:left;
}

.memoDetailButtons-right{
    float: right;
}

/* Memo Details: Revise button */

.reviseMemo{
    background-color: #4c56af;
    
}

.reviseMemo:hover{
    background-color: #2d3899;
}

/* Memo Details: Back button */

.backMemo{
    background-color: #4c56af;
}

.backMemo:hover{
    background-color: #2d3899;
}

/* Memo Details: Delete button */

.deleteMemo{
    background-color: #fa3737;
    margin-right: 10px;
}

.deleteMemo:hover{
    background-color: #ce2525;
}

/* Memo Details: Update button */

.updateMemo{
    background-color: #ee7936;
    margin-right: 10px;
}

.updateMemo:hover{
    background-color: #c95c1d;
}

/* Memo Details: Close button */

.closeDetails{
    background-color: #fa3737;
    padding: 6px 8px 5px 8px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    width: 31px;
    transition: background-color 0.2s linear;
    position: absolute;
    right: 80px;
}

.closeDetails i{
    color: #FFFFFF;
}

.closeDetails:hover{
    background-color: #ce2525;
}

/* Input fields */

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Checken of deze nog nodig zijn later */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
input.ng-untouched,
select.ng-untouched,
textarea.ng-untouched {
    border-left: 1px solid #ccc !important;
}
