/* Memocard styling */

.clearfix{
    clear: both;
}

.card 
{
    width: 100%;
    border: none;
    border-radius: 0px;
    transition: border-left 0.2s linear;
}

.card-header {
    border-bottom: none;
    display: flex;
    color: var(--card-header-color);
    padding: 20px 0px 0px 30px;
    border-radius: 0px;
}

    .card-subtitle{
        font-size: 10px;
        color: var(--card-subtitle-color);
        border-radius: 0px;
    }

.card-body {
    color: var(--card-body-color);
    font-size: 14px;
    padding: 0px 0px 20px 30px;
    border-radius: 0px;
}

.card:nth-child(odd)>div {
    background-color: var(--card-odd-bg-color);
}

.card:nth-child(even)>div {
    background-color: var(--card-even-bg-color);
}

.card:hover {
    border-left: 40px solid #fa3737;
    cursor: pointer;
}

.card:hover .delete, .card:hover .revise{
    display: block;
}

p.card-text {
    max-width: 270px;
}

.card-title{
    max-width: 300px;
}

/* Memo */
.memo {
    height: 100vh;
    overflow-y: scroll;
}


/* Memocard List: Small card buttons */

.btn-link {
    margin-top: -30px;
}

.btn{
    width: 40px;
    height: 50%;
    font-size: 12px;
    position: absolute;
    color: var(--button-color);
    padding: 4px;
    left: -40px;
    border-radius: 0;
}

.btn:focus {
    outline:0;
}

button:focus {
    outline:0;
}

/* Memocard List: Small delete button */

.delete{
    background-color: var(--deleteButton-bg-color);
    display: none;
    top:0;
}

.delete:hover{
    background-color: var(--deleteButton-hover-bg-color);
}

/* Memocard List: Small revise button */

.revise{
    background-color: var(--reviseButton-bg-color);
    display: none;
    top:50%;
}

.revise:hover{
    background-color: var(--reviseButton-hover-bg-color);
}

.card-title > i {
    margin-right: 10px;
}

span {
    text-transform: capitalize;
}

.memocard-details p {
    line-height: 1.7;
}

/* Subject colors */

.mysql {
    color: var(--subject-mysql-color);
}

.angular{
    color: var(--subject-angular-color);
}

.expressjs{
    color: var(--subject-expressjs-color);
}

.nodejs{
    color: var(--subject-nodejs-color);
}

/* Memo Detail buttons */

.memoButton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s linear;
    text-decoration: none;
    color: var(--button-color);
    float: left;
    margin-bottom: 10px;
}

.memoButton i{
    margin-right: 4px;
}

.memoButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* MemoDetailButtons container */

.memoDetailButtons-left{
    float:left;
}

.memoDetailButtons-right{
    float: right;
}

/* Memo Details: Revise button */

.reviseMemo{
    background-color: var(--reviseButton-bg-color);
    
}

.reviseMemo:hover{
    background-color: var(--reviseButton-hover-bg-color);
}

/* Memo Details: Back button */

.backMemo{
    background-color: var(--backMemoButton-bg-color);
}

.backMemo:hover{
    background-color: var(--backMemoButton-hover-bg-color);
}

/* Memo Details: Delete button */

.deleteMemo{
    background-color: var(--deleteButton-bg-color);
    margin-right: 10px;
}

.deleteMemo:hover{
    background-color: var(--deleteButton-hover-bg-color);
}

/* Memo Details: Update button */

.updateMemo{
    background-color: var(--updateMemoButton-bg-color);
    margin-right: 10px;
}

.updateMemo:hover{
    background-color: var(--updateMemoButton-hover-bg-color);
}

/* Memo Details: Close button */

.closeDetails{
    background-color: var(--closeDetailsButton-bg-color);
    padding: 6px 8px 5px 8px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    width: 31px;
    transition: background-color 0.2s linear;
    position: absolute;
    right: 80px;
}

.closeDetails i{
    color: var(--fontAwesomeIcon-color);
}

.closeDetails:hover{
    background-color: var(--closeDetailsButton-hover-bg-color);
}

.noMemos {
    color: #ffffff;
    text-align: center;
    margin-top: 100%;
}

.noMemos p:first-of-type {
    font-size: 23px;
}

.noMemos p:nth-of-type(2) {
    margin: 0 40px;
    color: var(--subjectLinks-color);
}
/* Input fields */

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--formInputs-bg-color);
}

button.memoButton.updateMemo:disabled {
    background-color: #b4b4b4 ;
    cursor: default ;
}

/* Checken of deze nog nodig zijn later */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
input.ng-untouched,
select.ng-untouched,
textarea.ng-untouched {
    border-left: 1px solid #ccc !important;
}

textarea {
    margin-bottom: 70px;
}