
<table>
    <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Title</th>
        <th>Description</th>
        <th>Published</th>
        <th>Text</th>
    </tr>
    <tr *ngFor="let articles of articlesDT">
        <td>{{articles.id}}</td>
        <td>{{articles.subject}}</td>
        <td>{{articles.title}}</td>
        <td>{{articles.description}}</td>
        <td>{{articles.published | date:'dd-MMM-yy (EEE)'}}</td>
        <td>{{articles.text | slice:0:98}} ...</td>
        </tr>
</table>

