table{
    border: 1px solid #cecece;
}

th {
    background-color: var(--table-header-bg-color);
    color: white;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: var(--table-rowEven-bg-color);
}
td {
    padding: 10px 20px;
}