<!--The content below is only a placeholder and can be replaced.-->
<p>Hallo</p>

<table>
    <tr>
        <th>Subject</th>
        <th>Title</th>
        <th>Description</th>
        <th>Published</th>
        <th>Text</th>
    </tr>
    <tr *ngFor="let articles of articlesDT">
        <td>{{articles.subject}}</td>
        <td>{{articles.title}}</td>
        <td>{{articles.description}}</td>
        <td>{{articles.published}}</td>
        <td>{{articles.text}}</td>
        </tr>
</table>
<ul >
    <li *ngFor="let articles of articlesDT">
        {{articles.subject}} /  {{articles.title}}
    </li>
</ul>

{{articlesDT | json}}

<router-outlet></router-outlet>
