/* Input fields styling */

 .content{
    width: 100%;
    padding: 50px 80px;
    height: 100vh;
    overflow-y: auto;
} 

.create-form{
    width: 55%;
    height: auto;
    margin: 20px auto;
    padding: 10px 40px 30px;
    background-color: var(--form-bg-color);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--formInputs-bg-color);
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: var(--formInputs-bg-color);
}

input[type=textarea] {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--formInputs-bg-color);
}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: var(--formInputs-bg-color);
}

button[type=button] {
    width: 100%;
    background-color: var(--createButton-bg-color);
    color: var(--button-color);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button[type=button]:disabled {
    background-color: var(--button-disabled-bg-color);
    cursor: default;
}

button[type=button]:hover:enabled {
    background-color: var(--createButton-hover-bg-color);
}

button[type=button]:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Validation indicators */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid var(--formValid-bg-color);
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid var(--formInvalid-bg-color);
  }

  input.ng-untouched,
  select.ng-untouched,
  textarea.ng-untouched {
      border-left: 1px solid #ccc !important;
  }

