/* Input fields styling */

 .content{
    width: 100%;
    padding: 50px 80px;
    height: 100vh;
    overflow-y: auto;
} 

.create-form{
    width: 40%;
    height: auto;
    margin: 20px auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

input[type=textarea] {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button[type=button] {
    width: 100%;
    background-color: #4c56af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button[type=button]:disabled {
    background-color: #b4b4b4;
    cursor: default;
}

button[type=button]:hover:enabled {
    background-color: #6770c4;
}

button[type=button]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Checken of deze nog nodig zijn later */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

.alert{
    color:red;
}
.ng-untouched {
    border: none !important;
}

