
  <h1>Create a new Memo</h1>
  <br>
  <div class="form-group">
    <label for="subject">Subject:</label><br>
    <select id="subject" name="subject">
      <option value="" disabled selected>Select a subject</option>
      <option value="MySQL">MySQL</option>
      <option value="ExpressJS">ExpressJS</option>
      <option value="Angular">Angular</option>
      <option value="NodeJS">NodeJS</option>
    </select>
  </div>
  <div class="form-group">
    <label for="title">Title:</label><br>
    <input type="text"  placeholder="Example: the best memo card ever" id="title">
  </div>
  <div class="form-group">
    <label for="description">Description:</label><br>
    <input type="text" placeholder="Example: the greatest memo ever created" id="description">
  </div>
  <div class="form-group">
    <label for="published">Published:</label><br>
    <input type="text" placeholder="Example: 23-03-2018" id="published">
  </div>
  <div class="form-group">
    <label for="text">Content:</label><br>
    <input type="textarea" placeholder="Please write the content of your Memo here" id="text" wrap="hard">
  </div>
  <button type="button" (click)="submit()">Save Memo</button>

  