/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

/* Basic reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    background: #F2F2F2;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
  }
  
/* Main container */

#container {
    height: 100%;
}

.content {
    overflow-y: scroll;
}
  /* Memocard List styling */

.memocard-list{
    width: 400px;
    height: 100vh;
    overflow-y: scroll;
    background-color: #212943;
    float: left;
}

/* Memocard Details styling */

.memocard-details{
    /* margin-left: 600px; */
    color: #474747;
    padding: 50px 80px;
    width: auto;
    min-height: 900px;
    background-color: #FFFFFF;
    height: 100vh;
    overflow-y: scroll;
}

.memocard-list:last-child {
    border-bottom: 1px solid #FFFFFF;
}

/* Scrollbar styling */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #d4d4d4; 
}
 
::-webkit-scrollbar-thumb {
    background: #a8aeff; 
}

::-webkit-scrollbar-thumb:hover {
    background: #9ea3ee; 
}