.content {
    padding: 40px 80px;
    text-align: center;
}

.content-box{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 60px;
    width: 80%;
    margin: 0px auto;
}

.period{
  font-size: 16px; 
  color: #666666; 
  margin-bottom: 60px;
}

p {
    font-size: 1rem;
    color: #212529; 
    line-height: 1.9;
}

.description span{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 40px;
}

/* Logo */

.logo{
    color: #FFFFFF;
    width: 180px;
    height: auto;
    background-color: var(--logo-bg-color);
    margin: 0px auto 60px;
    padding: 20px 0px 20px 20px;
    border-radius: 8px;
}

.logo-img{
    width: 28px;
    height: 28px;
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}

.logo-img img{
    width: 100%;
    height: auto;
}

.logo-img span{
    font-weight: 300;
    font-size: 18px;
}

.logo-text{
    height: 30px;
    float: left;
    padding-top: 5px;
}

/* Slider */
/* i.arrow.next{ 
    border-top: 2px solid #212529 !important;
    border-left: 2px solid #212529 !important;
} */