<div class="content">
  <h1>YoungCapital Traineeship</h1>
  <p class="period">20 augustus 2018 t/m 05 oktober 2018</p>
  <div class="content-box">
    <div class="logo clearfix">
      <div class="logo-img">
        <img src="assets/logo4.png" alt="sidebar-logo">
      </div>
      <div class="logo-text">Mean<strong>Stacks</strong></div>
    </div>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages..
    </p>
    <span>Created by: </span>
  </div>
</div>

