
.subject-sidebar{
    background: #1C2237;
    height: 100%;
    position: fixed;
    width: 200px;
}

.logo{
    color: #FFFFFF;
    width: 100%;
    height: auto;
    background-color: #535FFC;
    margin-bottom: 50px;
    padding: 20px 0px 20px 40px;
}

.footermenu{
    position: absolute;
    bottom: 0;
    left: 0;
}

nav {
    width: 100%;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
  }

  nav ul li a {
    color: rgb(149, 153, 163);
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-weight: 200;
    line-height: 16px;
  }

  nav ul li a:hover{
      color: #FFFFFF;
  }

nav li a i{
    vertical-align: middle !important;
    margin-right: 16px;
    height: 20px;
    width: 20px;
    line-height: 16px;
}

.yellow {
    color: #F7C62F;
}

.orange {
    color: #FA6B41;
}

.pink {
    color: #FA3758;
}

.purple {
    color: #535FFC;
}

.green {
    color: #02e775;
}
.activated {
    color: #ffffff!important;
}