/* Fixed sidebar with nagivation */

.subject-sidebar{
    background: var(--subjectSidebar-bg-color);
    height: 100%;
    width: 200px;
}

/* Logo */

.logo{
    color: #FFFFFF;
    width: 100%;
    height: auto;
    background-color: var(--logo-bg-color);
    margin-bottom: 50px;
    padding: 20px 0px 20px 20px;
}

.logo-img{
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 10px;
}

.logo-img img{
    width: 100%;
    height: auto;
}

.logo-img span{
    font-weight: 300;
}

.logo-text{
    height: 30px;
    font-size: 18px;
    float: left;
    margin-top: 4px;
}

/* Footer menu in sidebar */

.footermenu{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Navigation styling */

nav {
    width: 100%;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
  }

  nav ul li a {
    color: var(--subjectLinks-color);
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-weight: 200;
    line-height: 16px;
    font-size: 14px;
  }

  nav ul li a:hover{
    color: var(--subjectLinks-hover-color);
  }

    nav li a i{
        vertical-align: middle !important;
        margin-right: 16px;
        height: 20px;
        width: 20px;
        line-height: 16px;
    }

/* Active menu item */

.active{
    color: var(--subjectLinks-active-color);
}

nav li a i{
    vertical-align: middle !important;
    margin-right: 16px;
    height: 20px;
    width: 20px;
    line-height: 16px;
}

/* Colors for subject icons */

.green {
    color: var(--subject-all-color);
}

.yellow {
    color: var(--subject-mysql-color);
}

.orange {
    color: var(--subject-expressjs-color);
}

.pink {
    color: var(--subject-angular-color);
}

.purple {
    color: var(--subject-nodejs-color);
}



/* Create memo button */

.createButton {
    background-color: var(--createButton-bg-color);
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    margin: 0px auto;
    border-radius: 4px;
    width: 80%;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s linear;
    text-decoration: none;
    color: #FFFFFF;
}

.createButton:hover{
    background-color: var(--createButton-hover-bg-color);
}
.createButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.createButton i{
    margin-right: 4px;
}
.activated {
    color: #ffffff!important;
}