<div class="subject-sidebar">
  <div class="logo clearfix">
    <div class="logo-img">
      <img src="assets/logo4.png" alt="sidebar-logo">
    </div>
    <div class="logo-text">Mean<strong>Stacks</strong></div>
  </div>
  <nav>
    <!-- Submenu 1 -->
    <ul>
      <li>
        <a routerLink="" class="" [class.activated]="currentUrl == '/'">
          <i class="fas fa-home fa-lg"></i> Home
        </a>
      </li>
    </ul>
    <!-- Submenu 2 -->
    <ul>
      <li>
        <a routerLink="all" [class.activated]="currentUrl == '/all'">
          <i class="fas fa-laptop-code fa-lg green"></i> All ({{countSubjectAll}})
        </a>
      </li>
      <li>
        <a routerLink="mysql" [class.activated]="currentUrl == '/mysql'">
          <i class="fas fa-database fa-lg yellow"></i> MySQL ({{countSubjectMysql}})
        </a>
      </li>
      <li>
        <a routerLink="expressjs" [class.activated]="currentUrl == '/expressjs'">
          <i class="fas fa-server fa-lg orange"></i> ExpressJS ({{countSubjectExpressjs}})
        </a>
      </li>
      <li>
        <a routerLink="angular" [class.activated]="currentUrl == '/angular'">
          <i class="fab fa-angular fa-lg pink"></i> Angular ({{countSubjectAngular}})
        </a>
      </li>
      <li>
        <a routerLink="nodejs" [class.activated]="currentUrl == '/nodejs'">
          <i class="fab fa-node-js fa-lg purple"></i> NodeJS ({{countSubjectNodejs}})
        </a>
      </li>
    </ul>
    <!-- Create article button -->
    <a routerLink="creatememo" class="createButton" [class.activated]="currentUrl == '/creatememo'">
      <i class="fas fa-plus"></i> Add Memo
    </a>
    <!-- Footer menu -->
    <ul class="footermenu">
      <li>
        <a routerLink="tutorial" [class.activated]="currentUrl == '/tutorial'">
          <i class="far fa-question-circle fa-lg"></i> Tutorial
        </a>
      </li>
      <li>
        <a routerLink="about" [class.activated]="currentUrl == '/about'">
          <i class="fas fa-users-cog"></i> About
        </a>
      </li> 
    </ul>  
  </nav>
</div>